/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.form-container, .confirmation-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.rating label {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}

.rating input {
    display: none;
}

.rating label:hover, .rating label:hover ~ label,
.rating input:checked ~ label {
    color: gold;
}

footer{
    padding: 10px;
    background-color: #75857b;
    color: white;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 600px) {
    .form-container, .confirmation-container {
        margin: 10px;
        padding: 15px;
    }

    label {
        font-size: 14px;
    }

    input, select, textarea {
        padding: 6px;
    }

    input[type="submit"] {
        padding: 8px 15px;
    }
}
